<!DOCTYPE html>
<html>
<head>
  <title>Submitted Information</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <div class="card shadow p-4">

  <h2 class="text-center mb-4">Submitted information</h2>

   <ul class="list-group">

    <li class="list-group-item"><strong>Name:</strong> <%= user.userName %></li>
    <li class="list-group-item"><strong>Mother's Name:</strong> <%= user.userMothername %></li>
    <li class="list-group-item"><strong>Email:</strong> <%= user.userEmail %></li>
    <li class="list-group-item"><strong>Adhar Number:</strong> <%= user.userAdhardetails %></li>
    <li class="list-group-item"><strong>Mobile Number:</strong> <%= user.userMobilenumber %></li>
    <li class="list-group-item"><strong>PAN number:</strong> <%= user.userPandetails %></li>
    </ul>
    
    <div class="text-center mt-4">
      <a href="/home" class="btn btn-primary">Go Back</a>
    </div>
  </div>
</div>

</body>
</html>